/**
 * =============================================================================
 * Colors
 * =============================================================================
 */

:root {
  /**
   * Color system
   * ---------------------------------------------------------------------------
   */

  // White
  --cl-white: rgb(255, 255, 255);

  // Navy
  --cl-navy: rgb(36, 42, 49);
  --cl-navy-01: rgb(237, 238, 239);
  --cl-navy-02: rgb(194, 196, 201);
  --cl-navy-03: rgb(106, 112, 124);
  --cl-navy-04: rgb(58, 64, 75);
  --cl-navy-05: rgb(45, 50, 59);

  // Dusk
  --cl-dusk: hsl(255, 43%, 67%);

  /**
   * Palette
   * ---------------------------------------------------------------------------
   */

  // Neutral colors
  --cl-neutral-01: var(--cl-white);
  --cl-neutral-02: var(--cl-navy-01);
  --cl-neutral-03: var(--cl-navy-02);
  --cl-neutral-04: var(--cl-navy-03);
  --cl-neutral-05: var(--cl-navy-04);
  --cl-neutral-06: var(--cl-navy-05);
  --cl-neutral-07: var(--cl-navy);

  // Accent colors
  --cl-accent: var(--cl-dusk);
}
