/**
 * =============================================================================
 * Variables
 * =============================================================================
 *
 * Context:
 *   1. Font-weight
 *   2. Font-size (ration: 1.067)
 *   3. Line-height
 *   4. Margin
 *   5. Seconds
 *   6. app__main variables
 *   7. marker variables
 *   8. list variables
 *   9. btn variables
 */

/**
 * Font-weight
 * -----------------------------------------------------------------------------
 */

$fw-1: 600;
$fw-2: 500;

/**
 * Font-size (ration: 1.067)
 * -----------------------------------------------------------------------------
 */

$fs-base: 15px;
$fs-1: 1.383em;
$fs-2: 1.296em;
$fs-3: 1.138em;
$fs-4: 1em;
$fs-5: 0.823em;

/**
 * Line-height
 * -----------------------------------------------------------------------------
 */

$lh-1: 25px;
$lh-2: 24px;
$lh-3: 21px;
$lh-4: 19px;
$lh-5: 15px;

/**
 * Padding
 * -----------------------------------------------------------------------------
 */

$pd-1: 15px;

/**
 * Margin
 * -----------------------------------------------------------------------------
 */

$mg-1: 22px;
$mg-2: 10px;
$mg-3: 4px;

/**
 * Seconds
 * -----------------------------------------------------------------------------
 */

$sec-1: 0.3s;

/**
 * app__main variables
 * -----------------------------------------------------------------------------
 */

$main-wd: 856px;
$main-br: 4px;
$main-pd-y: 35px;
$main-pd-x: 40px;

/**
 * app_content variables
 * -----------------------------------------------------------------------------
 */

$content-pd: 100px;

/**
 * marker variables
 * -----------------------------------------------------------------------------
 */

$marker-wd: 5px;
$marker-mg: 10px;

/**
 * list variables
 * -----------------------------------------------------------------------------
 */

$list-pd: 17px;

/**
 * btn variables
 * -----------------------------------------------------------------------------
 */

$btn-wd: 140px;
$btn-pd: 9px 15px;
$btn-br: 2px solid var(--cl-neutral-06);
