/**
 * =============================================================================
 * Variables
 * =============================================================================
 *
 * Context:
 *   1. Inner parameters
 *   2. Breakpoints
 *   3. Font-sizes
 */

$fw-1: 600;
$fw-2: 500;

// fs-ratio: 1.067;
$fs-base: 15px;
$fs-1: 1.383em;
$fs-2: 1.296em;
$fs-3: 1.138em;
$fs-4: 1em;
$fs-5: 0.823em;

$lh-1: 25px;
$lh-2: 24px;
$lh-3: 21px;
$lh-4: 19px;
$lh-5: 15px;

$mg-1: 10px;
$mg-2: 4px;

$sec-1: 0.3s;

// app__main
$main-wd: 856px;
$main-br: 4px;
$main-pd-y: 35px;
$main-pd-x: 40px;

// Marker
$marker-wd: 5px;
$marker-mg: 10px;

$list-pd: 17px;
