/**
 * =============================================================================
 * Variables
 * =============================================================================
 *
 * Context:
 *   1. Inner parameters
 *   2. Breakpoints
 *   3. Font-sizes
**/

$modularscale: (
  base: 15px,
  ratio: 1.067
)
