/**
 * =============================================================================
 * Variables
 * =============================================================================
 *
 * Context:
 *   1. Inner parameters
 *   2. Breakpoints
 *   3. Font-sizes
 */

// fs-ratio: 1.067;
$fs-base: 15px;
$fs-1: 1.383em;
$fs-2: 1.296em;
$fs-3: 1.138em;
$fs-4: 1em;
$fs-5: 0.823em;
