/**
 * =============================================================================
 * Paragraphs
 * =============================================================================
**/

.pg {
  color: var(--cl-neutral-light-04);
  font-weight: 500;

  &.pg_l_1 {
    font-size: ms(0);
  }

  &.pg_l_2 {
    font-size: ms(-3);
  }

  &.pg_highlighted {
    color: var(--cl-neutral-04);
  }
}
