/**
 * =============================================================================
 * Buttons
 * =============================================================================
 */

.btn {
  background-color: var(--cl-neutral-04);
  padding: 11px 17px;
  min-width: 140px;
  color: var(--cl-neutral-01);
  font-size: ms(-3);
}
