/**
 * =============================================================================
 * Buttons
 * =============================================================================
 */

.btn {
  font-size: $fs-5;

  min-width: 140px;
  padding: 11px 17px;

  color: var(--cl-neutral-01);
  background-color: var(--cl-neutral-04);
}
