/**
 * =============================================================================
 * Headlines
 * =============================================================================
 */

.hd {
  font-weight: 600;

  color: var(--cl-neutral-04);

  &.hd_l_1 {
    font-size: $fs-1;
    line-height: 25px;

    letter-spacing: converter(15, $fs-1);
  }

  &.hd_l_2 {
    font-size: $fs-2;

    letter-spacing: converter(14, $fs-2);
  }

  &.hd_l_3 {
    font-size: $fs-3;

    letter-spacing: converter(12, $fs-3);

    color: var(--cl-neutral-02);
  }
}
