/**
 * =============================================================================
 * Headlines
 * =============================================================================
 */

.hd {
  font-weight: $fw-1;

  color: var(--cl-neutral-07);

  &.hd_l_1 {
    font-size: $fs-1;
    line-height: $lh-1;

    margin-bottom: 22px;

    letter-spacing: converter(15, $fs-1);
  }

  &.hd_l_2 {
    font-size: $fs-2;
    line-height: $lh-2;

    margin-bottom: 20px;

    letter-spacing: converter(14, $fs-2);
  }

  &.hd_l_3 {
    font-size: $fs-3;
    font-weight: $fw-2;
    line-height: $lh-3;

    margin-bottom: 4px;

    letter-spacing: converter(12, $fs-3);

    color: var(--cl-neutral-05);
  }
}
