/**
 * =============================================================================
 * Line
 * =============================================================================
 */

.line {
  height: 1px;
  margin: 0;

  border: 0;
  background-color: var(--cl-neutral-light-03);
}
