/**
 * =============================================================================
 * Marker
 * =============================================================================
 */

.marker {
  width: $marker-wd;
  height: $marker-wd;
  margin-right: $marker-mg;

  background-color: var(--cl-neutral-05);
}
