/**
 * =============================================================================
 * Paragraphs
 * =============================================================================
 */

.pr {
  font-weight: $fw-2;

  color: var(--cl-neutral-04);

  &.pr_l_1 {
    font-size: $fs-4;
    line-height: $lh-4;
  }

  &.pr_l_2 {
    font-size: $fs-5;
    line-height: $lh-5;
  }
}
