/**
 * =============================================================================
 * Paragraphs
 * =============================================================================
 */

.pr {
  color: var(--cl-neutral-light-04);
  font-weight: 500;

  &.pr_l_1 {
    font-size: $fs-4;
  }

  &.pr_l_2 {
    font-size: $fs-5;
  }

  &.pr_highlighted {
    color: var(--cl-neutral-04);
  }
}
