/**
 * =============================================================================
 * Tags
 * =============================================================================
 */

.tag {
  display: flex;
  align-items: center;

  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }

  .tag__icon {
    margin-right: 8px;

    color: var(--cl-neutral-04);
  }

  .tag__link {
    text-decoration: underline;
  }
}
